body {
	margin: 0;
	max-height: 100vh;
	max-width: 100vw;
	pointer-events: none;
	user-select: none;
	scrollbar-width: 0;
	overflow: hidden;
	background: black;
}
body::-webkit-scrollbar {
	display: none;
}
video {
	position: absolute;
	inset: 50%;
	transform: translate(calc(-50%), calc(-50%));
	width: 100%;
	opacity: 0;
}